@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Smart Event Management and Ticketing System is committed to protecting your personal data.</p>
<ul>
    <li><strong>Information Collection:</strong> We collect your Full Name and Email for booking purposes.</li>
    <li><strong>Data Usage:</strong> Your data is used only to manage your event registrations and reviews.</li>
    <li><strong>Security:</strong> We utilize Oracle 21c database security protocols to keep your information safe.</li>
</ul>

