html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rating-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

    .rating-wrapper input {
        display: none; /* Hides the black circles */
    }

    .rating-wrapper label {
        cursor: pointer;
        font-size: 15px;
        filter: grayscale(100%); /* Makes stars grey by default */
        transition: filter 0.2s ease;
    }

        /* Lights up all stars to the left of the one you hover/click */
        .rating-wrapper label:hover,
        .rating-wrapper label:hover ~ label,
        .rating-wrapper input:checked ~ label {
            filter: grayscale(0%);
        }